<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sistema de Registro</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.5 -->
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/styles/font-awesome.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/styles/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/styles/_all-skins.min.css">
  <link rel="icon" href="/img/favicon.ico">
</head>
