<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">

      <li class="treeview">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Admin</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/empresa"><i class="fa fa-circle-o"></i>Empresa</a></li>
          <li><a href="/empleados"><i class="fa fa-circle-o"></i>Empleados</a></li>
          <li><a href="/usuarios"><i class="fa fa-circle-o"></i>Usuarios</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
        <i class="fa fa-shopping-cart"></i>
        <span>Almacen</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
        <ul class="treeview-menu">
          <li><a href="../articulos"><i class="fa fa-circle-o"></i>Articulos</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
        <i class="fa fa-history"></i>
        <span>Informes</span>
        <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/historial"><i class="fa fa-circle-o"></i>Historial</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
        <i class="fa fa-user"></i><span>Clientes</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
        <ul class="treeview-menu">
          <li><a href="/clientes"><i class="fa fa-circle-o"></i>Clientes</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
        <i class="fa fa-truck"></i> <span>Pedidos</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
        <ul class="treeview-menu">
          <li><a href="/pedidos"><i class="fa fa-circle-o"></i>Nuevo</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
